{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}
{% block auth_title %}
    Upcoming Changes
{% endblock %}
{% block unauth_title %}
    Upcoming Changes
{% endblock %}

{% block content %}
    <p>We will be adding a total bar at the bottom to keep a running total of the amount spent per month.</p>
    <p>We will be adding the functionality to include income to track that as well so it isn't all just expenses.</p>
    <p>We want to eventaully turn this into a fully fledged budgeting software where you can split how much you want   to be able to spend into different categories and check your running total on each.</p>
</div>
{% endblock %}