{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}
{% block auth_title %}
    Home
{% endblock %}
{% block unauth_title %}
    Home
{% endblock %}
{% block content %}
    <h3>The Why</h3>
    <p id="why">Tracking expenses is crucial in order to build wealth. We here at Loede Enterprises want you to be successful and have as much financial success as you'd wish. This all starts with an expense tracker!
    </p>
    <h3>Quotes</h3>
    <div class="quotes">
        
        <div class="quote">
            I was struggling until I found out just how much I was spending on streaming services thanks to this expense tracker!<br>
            -Not Tyler Loede
        </div>
        <div class="quote">
            Logging expenses has truly shown me just how much money I was spending on my video game purchases every month.<br>
            -Valued User
        </div>
        <div class="quote">
            Being able to see exactly where all my money was going every month has helped me stay in control of my spending every month!<br>
            -Tyler Loede   
        </div>
    </div>

{% endblock %}