{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}
{% block auth_title %}
    Home
{% endblock %}
{% block unauth_title %}
    Home
{% endblock %}
{% block content %}
    <h3>The Why</h3>
    <p id="why"></br>Talk about why we should track expenses</br></br>
    </p>
    <h3>Quotes</h3>
    <div class="quotes">
        
        <div class="quote">
            
        </div>
        <div class="quote">
            
        </div>
        <div class="quote">
            
    </div>

{% endblock %}